#header{
    background: #fff;
    border-bottom: 1px solid #eee;
    box-shadow: 0 4px 1.25rem -0.4rem #9da5ab;
}
/*box-shadow: 0 4px 2.4rem -0.4rem #9da5ab;
*/
.logo img{
    width:auto;
    height: 60px;
    display: block;
}

#main-nav{

}
.main-menu >li {
    float: left;
}
.main-menu li {
    position: relative;
}
.main-menu >li{
    margin-right: 20px;
}
.main-menu >li >a{
    font-size: 13px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    height: 60px;
    line-height: 40px;
}

.main-menu li a{
    padding: 10px 15px;
    display: inline-block;
}

.main-menu li a i{
    font-size: 16px;
}

.main-menu  .sub-menu{
    display: none;
    position: absolute;
    background: #eee;
    left: 100%;
    top: -3px;
}

.main-menu>li>.sub-menu{
    top:59px; left: 0;
}

.main-menu li:hover>.sub-menu{
    display: block;
    border-top:3px solid #26B8F3;
}
.main-menu>li:hover>a, .main-menu>li:hover{
    color: #1e90ff;
}

.main-menu li>.sub-menu{
    background: #fff ;
    box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
}
.sub-menu{
    z-index: 7;
}

.sub-menu li a{
    width: 200px ;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
    padding: 10px 20px 10px 18px;
    -webkit-transition: padding .3s ease-in-out;
    transition: padding .3s ease-in-out;

}
.sub-menu li:last-child a{
    border-bottom:none;
}

.sub-menu>li a:hover{
    color: #333;
    background: rgba(211, 211, 211, 0.1);
    padding: 10px 20px 10px 26px;
    transition: padding .3s ease-in-out;
    -webkit-transition: padding .3s ease-in-out;

}


.menu-item-has-childrend>a:after{
    position: absolute;
    content:'\f105';
    font-family: 'FontAwesome';
    right: 10px;
    font-size: 14px;
}

.has-submenu{

}

.has-submenu:after{
    content: '\f107';
    font-family: 'FontAwesome';
    position: absolute;
    top:20px;
    right: 0px;
}


/*===========*/
#main{
    margin-bottom: 70px;
}



/*-----------------search--------------*/

.search{
    margin-top: 10px;
    position: relative;
    margin-bottom: 20px;
}

.search h3{
    padding: 10px 0 ;
    margin: 0;
    color: #000;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.search input{
    font-size: 13px;
    border: 1px solid #efefef;
}

/*.search input[type="submit"]{
    float: right;
    width: 25%;
    height: 36px;
    color: #333;
    background: #F0F0F0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}*/


.search button{
    border: none;
    text-transform: uppercase;
    height: 36px;
    cursor: pointer;
    color: #fff;
    background: #1e90ff;

}
.search button[disabled]{
    cursor: default;
    background: #F0F0F0;
    color: #777;
}


.search input[type="text"]{
    width: 75%;
    float: left;
    padding: 8px 14px;
    box-sizing: border-box;

}

.search input[type="submit"]:hover{
    color: #2292FF;
}


/*-----------tags---*/
.tags{
     margin-bottom: 30px;
     margin-top: 30px;
}

.tag-item{
    background: #f0f0f0;
    padding: 5px 0 5px 10px;
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.tag-item span{
    background: #1e90ff;
    padding: 5px 10px ;
    margin-left: 10px;
    color: #fff;
}


/*----------newpost-------------*/
.txt-primary{
    font-size: 14px;
    color: #000;
}
.txt-info{
    color: #888;
    font-size:12px;
}
.create-date:before {
    position: absolute;
    content: '\f073';
    font-family:'FontAwesome';
    top: 0;
    left: 0;

}

.create-date {
    position: relative;
    font-size: 11px;
    color: #777;
    padding-left:15px;
    padding-bottom: 10px;
}



.new-post{
    margin-top: 30px;
}

.title-section{
    padding: 10px 0 ;
    color: #000;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.wiget-content  .thumb{
}

.wiget-content  .thumb img{
    display: block;
    height: 50px;
    width: 50px;
}



.wiget-content .wrapper-name-date h3{
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    word-wrap: break-word;
}

.wiget-content li{
    margin: 0 0 15px;
    padding: 0 10px 15px 0;
    border-bottom: 1px solid #f2f2f2;
    min-height: 41px;
}

.wiget-content li a:hover{
    color: #2292FF;
}

/*------bright---------*/
.banner-right{
    margin-top: 35px;
}
.banner-right img{
    display: block;
    width: 100%;
    height: auto;
}

/*banner center*/

.banner img{
    display: block;
    height: 90px; 
    width: auto;
    margin:20px auto;
}




/*footer*/
#footer{
    background: #EEEEEE;
    font-size: 12px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: center;
}

#footer p {
    margin-bottom: 0;
    margin-top: .5rem;
}


.social{
    font-size: 20px;

}

#footer .social li{  
    float: left;
    margin-right:20px; 
}



/*-----content------*/


#detail-content p{ 
    padding-bottom: 5px;
    line-height: 24px; 
    text-align: justify;
}

#detail-content p strong{
    font-weight: normal;
    text-align: justify;
}
#detail-content p img{
    display: inline-block;
    border: 1px solid #d0d0d0;
    margin: 10px 0px;
    width: 100%;
}

.content{
    padding:20px 20px 20px 0px;
}



.main{
     box-shadow: 0 4px 2.4rem -0.4rem #9da5ab;
}